<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JDLMLab.Settings2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JDLMLab.Settings2>
            <setting name="Start" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="End" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cas" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Resolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PocetKrokov" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Konstanta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Krok" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mEnd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mResolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mKonstanta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mCas" serializeAs="String">
                <value>0</value>
            </setting>
        </JDLMLab.Settings2>
    </userSettings>
</configuration>