<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JDLMLab.PosledneParametreMerania" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="JDLMLab.Paths" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="JDLMLab.Path" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="JDLMLab.Properties.Database" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="JDLMLab.Devices" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="JDLMLab.Database" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="JDLMLab.parametreMerania" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="JDLMLab.Settings2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JDLMLab.PosledneParametreMerania>
            <setting name="eStartPoint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eEndPoint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eStepTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eResolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ePocetKrokov" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eKonstanta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mEnd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mResolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mKonstanta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mStepTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="e2DStartPoint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="e2DEndPoint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="e2DStepTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="e2DPocetKrokov" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="m2DStartPoint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="m2DEndPoint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="m2DResolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="m2DStepTime" serializeAs="String">
                <value>0</value>
            </setting>
        </JDLMLab.PosledneParametreMerania>
        <JDLMLab.Paths>
            <setting name="export_path" serializeAs="String">
                <value>C:\</value>
            </setting>
        </JDLMLab.Paths>
        <JDLMLab.Path>
            <setting name="export_path" serializeAs="String">
                <value>.</value>
            </setting>
        </JDLMLab.Path>
        <JDLMLab.Properties.Database>
            <setting name="database" serializeAs="String">
                <value>aparatura</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>aparatura</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>JDLMaparatura</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="host" serializeAs="String">
                <value>kempelen.ii.fmph.uniba.sk</value>
            </setting>
        </JDLMLab.Properties.Database>
        <JDLMLab.Devices>
            <setting name="voltmeterPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="ampermeterPort" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="qmsPort" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="pr4000Port" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="pr4000Freq" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="tpg256aPort" serializeAs="String">
                <value>COM7</value>
            </setting>
            <setting name="tpg256aFreq" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="tpg256aChannel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tempPort" serializeAs="String">
                <value>COM8</value>
            </setting>
            <setting name="tempFreq" serializeAs="String">
                <value>2</value>
            </setting>
        </JDLMLab.Devices>
        <JDLMLab.Database>
            <setting name="database" serializeAs="String">
                <value>aparatura</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>aparatura</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>JDLMaparatura</value>
            </setting>
            <setting name="host" serializeAs="String">
                <value>kempelen.ii.fmph.uniba.sk</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>3306</value>
            </setting>
        </JDLMLab.Database>
        <JDLMLab.parametreMerania>
            <setting name="eStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eEnd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eCas" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eResolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ePocetKrokov" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eKonstanta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eKrok" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mEnd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mResolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mKonstanta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mCas" serializeAs="String">
                <value>0</value>
            </setting>
        </JDLMLab.parametreMerania>
        <JDLMLab.Settings2>
            <setting name="Start" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="End" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cas" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Resolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PocetKrokov" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Konstanta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Krok" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mEnd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mResolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mKonstanta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mCas" serializeAs="String">
                <value>0</value>
            </setting>
        </JDLMLab.Settings2>
    </userSettings>
</configuration>